.header {
    display: flex;
    justify-content:space-between;
    padding: 16px;
    border-bottom: 1px solid var(--color-black);
    color: var(--color-black);
}

.nav {
    display: flex;
    align-items: center;
}

.el {
    padding-left: 24px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.active {
    color:  var(--color-primary);
    text-decoration: none;
}

.item {
    color:  var(--color-black);
    text-decoration: none;
}

.item:hover {
    font-weight: 700;
    transition: font-weight 0.2s ease;
    color: var(--color-primary);
}
